### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [398]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [627]:
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [400]:
Total = len(purchase_data["SN"].unique())
Total_Player = pd.DataFrame({"Total Players":[Total]})
Total_Player

   Total Players
0            576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [317]:
purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [628]:
#1. Number of unique items:
unique_item = purchase_data["Item ID"].unique()
Total_Items = len(unique_item)
#Total_Items

In [629]:
#2. Average price:
Avg_price = purchase_data["Price"].mean()
Avg_price = "${:.2f}".format(Avg_price)
#Avg_price

In [630]:
#3. Number of purchases made:
Total_purchase = purchase_data["Purchase ID"].count()
#Total_purchase

In [631]:
#4. Total Revenue:
Total_Revenue = purchase_data["Price"].sum()
Total_Revenue = "${:,.2f}".format(Total_Revenue)
#Total_Revenue

In [632]:
#5. Creating a DataFrame
Total_Purchasing_Analysis = pd.DataFrame([{
                                        "Number of Unique Items": Total_Items,
                                        "Average Price": Avg_price,
                                        "Number of Purchases": Total_purchase,
                                        "Total Revenue": Total_Revenue
                                         }])
Total_Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [402]:
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [624]:
#1. Count of Players by Gender

#Find Unique players 
Unique_player_df = purchase_data.groupby("SN").first()

#Calculate total number of Males and Females
CountByGender = Unique_player_df["Gender"].value_counts()
#CountByGender

In [623]:
#2. Percentage per Players
Total_Players = Unique_player_df["Gender"].count()

Percent_player = (CountByGender/Total_Players) * 100
Percent_player = Percent_player.map("{:.2f}%".format)
#Percent_player

In [622]:
#Creating a Dataframe to display
M_F_Analysis = pd.DataFrame({
                            
                            "Total Count": CountByGender,
                            "Percentage of Players": Percent_player
                                        
                                         })
M_F_Analysis

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [319]:
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [619]:
#1. Calculations to obtain purchase count per Gender

#Group by gender to have unique player counts
purchace_group = purchase_data.groupby("Gender")

#find total number of players by gender
Purchace_count = purchace_group["Purchase ID"].count()
#Purchace_count

In [618]:
#2. Average price per Gender
Avg_purchace = purchace_group["Price"].mean()

#Format to display
Avg_purchace = Avg_purchace.map("${:.2f}".format)
#Avg_purchace

In [617]:
#2. Total Purchase Value
Total_Purchace =  purchace_group["Price"].sum()

Total_PricebyGender = Total_Purchace.map("${:,.2f}".format)
#Total_PricebyGender

In [616]:
#3. Avg Total Purchase per Person(Gender)
Avg_Total_Purchace = Total_Purchace/CountByGender

Avg_Total_Purchace = Avg_Total_Purchace.map("${:.2f}".format)
#Avg_Total_Purchace

In [237]:
#3. Create a DataFrame
perchasing_Anlysis = pd.DataFrame({                              
                              "Purchase Count": Purchace_count ,
                              "Average Purchase Price": Avg_purchace,
                              "Total Purchase Value": Total_PricebyGender,
                              "Avg Total Purchase per Person": Avg_Total_Purchace
                            })
perchasing_Anlysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [268]:
#1. Establish bins for ages
bins = [0, 9.9, 14.9 , 19.9 ,24.9, 29.9, 34.9, 39.9 , 100]
bin_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

#2. Categorize the existing players using the age bins.
Unique_player_df['Age Bin'] = pd.cut(x=Unique_player_df['Age'], bins=bins , labels= bin_label, include_lowest =True)
Unique_player_df.head(3)

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Bin
SN,,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28,15-19
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19

In [615]:
#3. Calculate Total Number of players by age
PlayerByAgeGroup = Unique_player_df.groupby("Age Bin")

TotalPlayerByAge = PlayerByAgeGroup["Purchase ID"].count()
#TotalPlayerByAge

In [614]:
#4. Total Purchase Value by age bin
Total_PricebyAge =  PlayerByAgeGroup["Price"].sum()

Total_PricebyAge = Total_PricebyAge.map("${:,.2f}".format)
#Total_PricebyAge

In [613]:
#5. Percentage of Players per age group
AvgPlayerByAgeGroup = PlayerByAgeGroup["Age Bin"].count()/Total *100

AvgPlayerByAgeGroup = AvgPlayerByAgeGroup.map("{:.2f}%".format)
#AvgPlayerByAgeGroup

In [611]:
#6. Create a DataFrame
Age_Analysis = pd.DataFrame({                              
                              "Total Count": TotalPlayerByAge ,                              
                              "Percentage of Players": AvgPlayerByAgeGroup
                            })
Age_Analysis

         Total Count Percentage of Players
Age Bin
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [320]:
#1. Bin the purchase_data data frame by age
#Make a copy of original dataframe
Purchase_Age_df = purchase_data.copy()

#Cut bins using bins lables created in Age Demographics
Purchase_Age_df['Age Bin'] = pd.cut(x=Purchase_Age_df['Age'], bins=bins , labels= bin_label, include_lowest =True)
Purchase_Age_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24

In [609]:
#2. Calculate Purchase count by Age Bin
purchace_Byage = Purchase_Age_df.groupby("Age Bin")

TotalPurchaseByAge = purchace_Byage["Purchase ID"].count()
#TotalPurchaseByAge

In [606]:
#3.Avg. purchase price per Age:
AvgPricePerAge = purchace_Byage["Price"].mean()

AvgPricePerAge = AvgPricePerAge.map("${:.2f}".format)
#AvgPricePerAge

In [607]:
#4. Total Purchace value per Age
TPurchaceByAge =  purchace_Byage["Price"].sum()

TotalPurchaceByAge = TPurchaceByAge.map("${:,.2f}".format)
#TotalPurchaceByAge

In [608]:
#5. Avg Total Purchase per Person by Age Bin
AvgPriceBYPerson = TPurchaceByAge/TotalPlayerByAge

AvgPriceBYPerson = AvgPriceBYPerson.map("${:.2f}".format)
#AvgPriceBYPerson

In [610]:
#6. Create a DataFrame for Purchasing Analysis by Age
Purchase_Anlysis_Age = pd.DataFrame({                              
                              "Purchase Count": TotalPurchaseByAge ,
                              "Average Purchase Price": AvgPricePerAge,
                              "Total Purchase Value": TotalPurchaceByAge,
                              "Avg Total Purchase per Person": AvgPriceBYPerson
                            })
Purchase_Anlysis_Age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bin,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders


* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [605]:
#1.Identify the the top 5 spenders 
Top5_group = purchase_data.groupby("SN")

# Purchase Count
Top5_count = Top5_group["Purchase ID"].count()

#Average Purchase Price
Top5_mean = Top5_group["Price"].mean()

#Total Purchase Value
To5_Spenders= Top5_group["Price"].sum()

#Create a summary data frame to hold the results
Top5_Spenders = pd.DataFrame({                              
                              "Purchase Count": Top5_count ,
                              "Average Purchase Price": Top5_mean,
                              "Total Purchase Value": To5_Spenders,
                            })

#Sort the total purchase value column in descending order
Top5_Spenders = Top5_Spenders.sort_values("Total Purchase Value" , ascending= False).head()

#Give the displayed data cleaner formatting
Top5_Spenders = Top5_Spenders.style.format({"Average Purchase Price": "${:.2f}" ,
                                            "Total Purchase Value": "${:.2f}"} )
Top5_Spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [429]:
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [599]:
#1. Identify the 5 most popular items by purchase count, then list (in a table):

#Group by "Item ID","Item Name" to calculate Purchase count 
Most_Popu = purchase_data.groupby(["Item ID","Item Name"])

#Create a dataframe to merge later
Most_Popu_Count = pd.DataFrame(Most_Popu["Purchase ID"].count())

# Rename column to "Purchase Count"
Most_Popu_Count = Most_Popu_Count.rename(columns={"Purchase ID":"Purchase Count"})
#Most_Popu_Count

In [601]:
#Calculate avg price per item and create a dataframe to merge later
Most_Popu_Price = pd.DataFrame(Most_Popu["Price"].mean())

# Rename column to "Total Price"
Most_Popu_Price = Most_Popu_Price.rename(columns={"Price":"Total Price"})
#Most_Popu_Price

In [603]:
#Calculate Total purchase value per item and create a dataframe to merge later
Most_Popu_Total_purchace = pd.DataFrame(Most_Popu["Price"].sum())

# Rename column to "Total Purchase Value"
Most_Popu_Total_purchace = Most_Popu_Total_purchace.rename(columns={"Price":"Total Purchase Value"})
#Most_Popu_Total_purchace

In [604]:
#Merge tables to create a single DataFrame
Most_Popular_T = pd.merge(Most_Popu_Count,Most_Popu_Price ,left_index=True ,right_index=True)
Most_Popular_final = pd.merge(Most_Popular_T,Most_Popu_Total_purchace ,left_index=True, right_index=True)

#Sort the purchase count column in descending order
Most_Popular_final = Most_Popular_final.sort_values("Purchase Count", ascending=False)

#Select first 5 Top "Most popular Items"
Most_Popular_5Items = Most_Popular_final.head()

#Give the displayed data cleaner formatting
Most_Popular_5Items = Most_Popular_5Items.style.format({"Total Price": "${:.2f}" ,
                                                      "Total Purchase Value": "${:.2f}"} )
Most_Popular_5Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [595]:
#1. Most Profitable Items

#Sort the above table by total purchase value in descending order
Most_Popular_final = Most_Popular_final.sort_values("Total Purchase Value", ascending=False)

# Select 5 profitable items
Most_Profitable_5Items = Most_Popular_final.head()

#Style values by formatting
Most_Profitable_5Items = Most_Profitable_5Items.style.format({"Total Price": "${:.2f}" ,
                                                      "Total Purchase Value": "${:.2f}"} )
#Display a preview of the data frame
Most_Profitable_5Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80